# バイナリファイルを無視
*.env
*.ini
!alembic.ini
*.service
*.sock
*.exe
*.dll
*.Identifier
# ログファイルを無視

*.cgi
*.htaccess

*.zip
*.pptx
*.txt



# OSやIDEの一時ファイルを無視
.DS_Store
Thumbs.db
.vscode/




logs/access.log
logs/error.log


# ビルドディレクトリを無視
/build/
__pycache__/

# Next.js / Node
.next/
node_modules/
frontend/.next/
frontend/node_modules/
